<%= error_messages_for :post %>
<% form_for :post, :url => posts_path do |f| -%>
<p><label for="Title">Title</label><br/>
<%= f.text_field :title %></p>

<p><label for="Body">Body</label><br/>
 <%= f.tinymce :body %></p>

<p><label for="Tags">Tags (Seperate by comma. Ex: Funny, Bad)</label><br/>
<%= f.text_field :tag_list %></p>


<p><%= submit_tag 'Save' %></p>
<% end -%>
