<%= error_messages_for :post %>

<h2><%= @post.title %></h2>

<%= @post.body %>

<p>Tagged under: <%= @post.tag_list %></p>

<%= render :partial => 'comments/newcomment' %>

<div id="comments">
<% for comment in @comments %>
	<% if comment.parent_id == nil %>
  		<%= render :partial => 'comments/comment', :object => comment %>
	<%- end -%>
<%- end -%>
</div>
